<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Pixel Block Snapper - Editor</title>
</head>
<body>
  <header>
    <div class="navigation">
      <a href="/" class="button logo-home">
        <img id="piksul-logo" src="/img/piksul-logo.png" alt="Piksul Logo">
        <span>PIKSUL</span>
      </a>
      <a href="/gallery" class="button view-projects"><span>Public Projects</span></a>
    </div>
    <div class="user-buttons">
      <a class="button login"><span>Log In</span></a>
      <a class="button create-account"><span>Sign Up</span></a>
      <a class="button logout hidden"><span>Log Out</span></a>
    </div>
  </header>

  <main id="editor" 
    data-project-id="<%= project.id || '' %>" 
    data-original-image="<%= project.original_image || '' %>" 
    data-block-size="<%= project.block_size || '' %>"
    data-palette-size="<%= project?.palette_size || '' %>">

    <div class="action-buttons">
      <label for="upload" class="button file-button">
        <img src="/img/file-icon.png" alt="File Icon" class="file-icon">
        <span>Choose File</span>
      </label>
      <input type="file" id="upload" hidden>
      <p>Upload an image to get started.</p>   
    </div>

    <div id="controls" class="hidden">
      <label for="blockSizeInput">Block Size: </label>
      <input type="number" id="blockSizeInput" min="1" max="100">
      <div id="palette-controls">
        <label for="paletteSizeSelect">Palette Size: </label>
        <select id="paletteSizeSelect">
          <option value="" <%= project.palette_size ? "" : "selected" %>>None</option>
          <option value="2" <%= project.palette_size == 2 ? "selected" : "" %>>2 Colors</option>
          <option value="3" <%= project.palette_size == 3 ? "selected" : "" %>>3 Colors</option>
          <option value="4" <%= project.palette_size == 4 ? "selected" : "" %>>4 Colors</option>
          <option value="8" <%= project.palette_size == 8 ? "selected" : "" %>>8 Colors</option>
          <option value="16" <%= project.palette_size == 16 ? "selected" : "" %>>16 Colors</option>
          <option value="32" <%= project.palette_size == 32 ? "selected" : "" %>>32 Colors</option>
          <option value="64" <%= project.palette_size == 64 ? "selected" : "" %>>64 Colors</option>
          <option value="128" <%= project.palette_size == 128 ? "selected" : "" %>>128 Colors</option>
        </select>
      </div>
    </div>
    <a class="button hidden" id="toggleColorChangeMapButton">Show Color Change Map</a>

    <div id="comparison" class="hidden">
      <figure>
        <div id="divisor"></div>
      </figure>
      <input type="range" min="0" max="100" value="50" id="slider">
    </div>

    <a class="button hidden" id="downloadButton">Download Image</a> 
    <a href="#" class="button hidden" id="saveProjectButton" class="button save-project">Save Project to Site</a>
    <a href="/sketch/<%= project.id || '' %>" class="button hidden" id="open-sketch">Open in Sketch</a>
  </main>

  <script type="text/javascript" src="/js/rgbquant.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
