<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Saved Projects</title>
</head>
<body>
  <header>
    <div class="banner">
      <a class="button login"><span>Log In</span></a>
      <a class="button create-account"><span>Create an Account</span></a>
      <a class="button logout"><span>Log Out</span></a>
    </div>
  </header>
  <main id="gallery">
    <a href="/editor" class="button start-project"><span>Start New Project</span></a>

    <h1>Saved Projects</h1>
    <section class="projects-gallery">
      <% if (projects.length === 0) { %>
        <p>No projects saved yet.</p>
      <% } else { %>
        <% projects.forEach(project => { %>
          <div	class="project-card" 
				data-id="<%= project.id %>"
				data-block-size="<%= project.block_size %>"
				data-palette-size="<%= project.palette_size %>"
				data-edited-image="<%= project.edited_image %>">

            <img src="/gallery/image/<%= project.edited_image %>" alt="Project Thumbnail">
            <div class="project-info">
              <p>Block Size: <%= project.block_size %></p>
              <p>Palette Size: <%= project.palette_size %></p>
              <!-- <p>Tolerance: <%= project.tolerance %></p> -->
              <p>Created At: <%= new Date(project.created_at).toLocaleString() %></p>
            </div>
            <div class="project-buttons">
              <a href="/editor/<%= project.id %>" class="button" id="open-project">Open in Editor</a>
              <a href="#" class="button" id="open-sketch">Open in Sketch</a>
              <a class="button delete-project">Delete</a>
            </div>
          </div>
        <% }); %>
      <% } %>
    </section>
  </main>
  <script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
